<?xml version="1.0"?>
<launch>

  <param name="robot_description"
         textfile="$(find fetch_description)/robots/fetch.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />

  <arg name="config_file" value="$(find lab2)/config/fetch_display.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"
        args="-d $(arg config_file)"/>
</launch>
